*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size:  40px;
    color:  goldenrod;
    font-weight: border;
    border : 2px solid yellowgreen;
    background-color:  lightseagreen;
    text-align:  center;
}
